/*
 * STAT 3622 Project Stylesheet
 */

$black: #222222;
$white: #FAFAFA;
$gray: #6D6D6D;
$accent: #662d91;
$header: 'Playfair Display SC', Courier, serif;
$regular: 'Raleway', Arial, sans;
$bold: 'Raleway-bold', Arial, sans;
$monospaced: 'Source Code Pro', Courier, serif;

$info-height: 60px;
$text-width: 500px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition:    all $transition ease;
  -o-transition:      all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition:     all $transition ease;
  transition:         all $transition ease;
}

html,body {
  background: $white;
  color: $black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  font-family: $regular;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 1em;
  font-family: $header;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
}

p {
  max-width: $text-width;
  text-align: left;
  margin: 0 auto 1em auto;
}

b {
  font-family: $bold;
}

code {
  font-family: $monospaced;
  color: $gray;
}

img {
  @include border-radius(25px);
  width: 60%;
  margin: 2em;
}

button {
  @include border-radius(25px);
  @include transition(0.25s);
  font-family: $regular;
  cursor: pointer;
  width: 150px;
  padding: 1em;
  outline: none;
  border: none;
  background: $accent;
  color: $white;
  margin: 4em auto;
  &.overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -6em;
    z-index: 1000;
    opacity: 0.1;
  }
  &:hover {
    opacity: 0.75;
  }
}

#location-overlay {
  @include border-radius(1em);
  position: fixed;
  top: 1em;
  left: 1em;
  color: $black;
  background: rgba($white,0.1);
  padding: 0.5em;
  z-index: 10000000;
  input {
    outline: none;
    border: 0px;
    cursor: pointer;
    background: rgba($white,0);
    color: $black;
    width: 1.5em;
    font-size: 1em;
    text-align: right;
  }
}

#header-block {
  background: $black;
  color: $white;
  // margin-bottom: 2em;
}

.slide {
  // padding: 2em 0;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  .note {
    color: $gray;
    margin-top: 32px;
    font-size: 0.8em;
    max-width: $text-width;
  }
}

.viz {
  width: 80%;
  height: 100vh;
  margin: auto;
}

.info { // vertically align info in slides
  margin: auto;
}

#cyto {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
}

#cyto-info {
  position: fixed;
  font-family: $regular;
  color: $white;
  width: 100%;
  height: $info-height;
  top: 0;
  left: 0;
  background: $accent;
  line-height: $info-height;
  display: none;
  z-index: 1001;
}

.info-overlay {
  @extend #cyto-info;
  // display: block;
  bottom: 0;
  top: auto;

  button {
    margin: auto;
  }

  .navs {
    display: inline-block;
    height: $info-height;
    margin-right: 100px;
    button {
      background: $white;
      color: $black;
    }
  }
  .controls {
    display: inline-block;
    outline: none;
    cursor: pointer;
    span {
      font-size: 100%;
      font-weight: 600;
      color: $white;
    }
    input {
      font-size: 100%;
      font-weight: 600;
      width: 100px;
      margin: 0;
      text-align:center;
      background: $accent;
      outline: none;
      color: $white;
      border: 0px;
    }
    button {
      background: $black;
      color: $white;
    }
    select {
      background: $black;
      outline: none;
      border: 0;
      color: $white;
      font-family: $regular;
      margin-left: 1em;
      height: 2em;
    }
  }
}



/*
#cod, #ages, #cod-ages, #edu-ages {
  width: 80%;
  height: 100vh;
  margin: auto;
}
*/



