/*
 * STAT 3622 Project Stylesheet
 */
html, body {
  background-image: url("../images/bg.png");
  color: #222222;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  font-family: "Raleway", Arial, sans; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", Courier, serif;
  font-weight: bold;
  max-width: 750px;
  margin: auto auto 1.5em auto;
  color: #662d91; }

h1 {
  font-size: 2em; }

h4 {
  font-size: 1em; }

h3 {
  font-size: 1.5em; }

p {
  max-width: 500px;
  text-align: left;
  margin: 0 auto 1em auto; }

b {
  font-family: "Raleway-bold", Arial, sans;
  color: #662d91; }

code {
  font-family: "Source Code Pro", Courier, serif;
  color: #662d91; }

img {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  max-width: 500px;
  margin: 2em auto; }
  img.wide {
    max-width: 750px !important; }
  img.short {
    max-height: 600px; }

button {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: "Raleway", Arial, sans;
  cursor: pointer;
  width: 150px;
  padding: 1em;
  outline: none;
  border: none;
  background: #662d91;
  color: #FAFAFA;
  margin: 4em auto; }
  button.overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -6em;
    z-index: 1000;
    opacity: 0.1; }
  button:hover {
    opacity: 0.75; }

#location-overlay {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  position: fixed;
  top: 1em;
  left: 1em;
  color: #222222;
  background: rgba(250, 250, 250, 0.1);
  padding: 0.5em;
  z-index: 10000000; }
  #location-overlay input {
    outline: none;
    border: 0px;
    cursor: pointer;
    background: rgba(250, 250, 250, 0);
    color: #222222;
    width: 1.5em;
    font-size: 1em;
    text-align: right; }

#header-block {
  background: #222222;
  color: #FAFAFA; }
  #header-block .info {
    padding: 0 !important;
    background: transparent !important; }
    #header-block .info h1, #header-block .info h2, #header-block .info h3, #header-block .info h4, #header-block .info h5, #header-block .info h6 {
      color: #FAFAFA; }

.slide {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center; }
  .slide .note {
    color: #6D6D6D;
    margin: auto;
    margin-top: 32px;
    font-size: 0.8em;
    max-width: 500px; }
  .slide.white {
    background: #FAFAFA; }

.viz {
  width: 80%;
  height: 100vh;
  background: #FAFAFA;
  margin: auto; }

.info {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  margin: auto;
  padding: 4em;
  background: #FAFAFA; }

#cyto {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left; }

#cyto-info, .info-overlay {
  position: fixed;
  font-family: "Raleway", Arial, sans;
  color: #FAFAFA;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background: #662d91;
  line-height: 60px;
  display: none;
  z-index: 1001; }

.info-overlay {
  bottom: 0;
  top: auto; }
  .info-overlay button {
    margin: auto; }
  .info-overlay .navs {
    display: inline-block;
    height: 60px;
    margin-right: 100px; }
    .info-overlay .navs button {
      background: #FAFAFA;
      color: #222222; }
  .info-overlay .controls {
    display: inline-block;
    outline: none;
    cursor: pointer; }
    .info-overlay .controls span {
      font-size: 100%;
      font-weight: 600;
      color: #FAFAFA; }
    .info-overlay .controls input {
      font-size: 100%;
      font-weight: 600;
      width: 100px;
      margin: 0;
      text-align: center;
      background: #662d91;
      outline: none;
      color: #FAFAFA;
      border: 0px; }
    .info-overlay .controls button {
      background: #222222;
      color: #FAFAFA; }
    .info-overlay .controls select {
      background: #222222;
      outline: none;
      border: 0;
      color: #FAFAFA;
      font-family: "Raleway", Arial, sans;
      margin-left: 1em;
      height: 2em; }

/*
#cod, #ages, #cod-ages, #edu-ages {
  width: 80%;
  height: 100vh;
  margin: auto;
}
*/

/*# sourceMappingURL=viz.css.map */
