/*
 * STAT 3622 Project Stylesheet
 */

$black: #222222;
$white: #FAFAFA;
$accent: #662d91;
$header: 'Playfair Display SC', Courier, serif;
$regular: 'Raleway', Arial, sans;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition:    all $transition ease;
  -o-transition:      all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition:     all $transition ease;
  transition:         all $transition ease;
}

html,body {
  background: $white;
  color: $black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 1em;
  font-family: $header;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
}

p {
  max-width: 500px;
  text-align: left;
  margin: 0 auto 1em auto;
  font-family: $regular;
}

button {
  @include border-radius(25px);
  @include transition(0.25s);
  font-family: $regular;
  cursor: pointer;
  width: 150px;
  padding: 1em;
  outline: none;
  border: none;
  background: $accent;
  color: $white;
  margin: 2em auto;
  &.overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -6em;
    z-index: 1000;
    opacity: 0.25;
  }
  &:hover {
    opacity: 0.75;
  }
}

.header-block {
  background: $black;
  color: $white;
  margin-bottom: 2em;
  padding: 2em;
}

.viz {
  padding: 2em 0;
}

#cyto {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
}

#cyto-info {
  position: fixed;
  font-family: $regular;
  color: $white;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background: $accent;
  line-height: 100px;
  display: none;
  z-index: 1001;
}

