<html>

  <head>
    <title>STAT 3622, Gordon Hart</title>
    {% for filename in data.cssfiles %}
    <link rel="stylesheet" href="style/{{ filename }}">
    {% endfor %}
    {% for filename in data.jsonfiles %}
    <script type="text/javascript" src="json/{{ filename }}"></script>
    {% endfor %}
    {% for filename in data.jsfiles %}
    <script type="text/javascript" src="js/{{ filename }}"></script>
    {% endfor %}
  </head>

  <body>
    <div id="header-block" class="slide">
      <div class="info">
        <h1>{{ data.header.title }}</h1>
        {% for image in data.header.images %}
        <img src="{{ image }}" />
        {% endfor %}
        {% for subtitle in data.header.subtitles %}
        <h4>{{ subtitle }}</h4>
        {% endfor %}
      </div>
    </div>

    {% for slide in data.slides %}
      {% if slide.type == "slide" %}
        <div id="{{ slide.id }}" class="slide">
          <div class="info">
            {% for element in slide.contents %}
              {% if element is string %}
                {{ element }}
              {% else %}
                {% for eltype,elcontents in element.items() %}
                  {% if eltype == "note" %}
                    <div class="note"><b>Note: </b>{{ elcontents }}</div>
                  {% else %}
                    <{{ eltype }}>{{ elcontents }}</{{ eltype }}>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        {% elif slide.type == "viz" %}
          <div id="{{ slide.id }}" class="slide white">
          {% for element in slide.contents %}
            {% if element is string %}
            {{ element }}
            {% else %}
              {% for eltype,elid in element.items() %}
                <{{ eltype }} id="{{ elid }}" class="viz"></{{ eltype }}>
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}

    <div id="location-overlay">
      <input id="curloc" type="text" value="1" width="2" /> of <span id="total-slides"></span>
    </div>
  </body>

</html>
